body {
    margin:0;
    font-family: "Raleway";
    font-size:15px;
}

/*header*/

header {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
            url("../images/header_background.jpg") 0 -200px;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.header-content {
    width:50%;
    //margin:auto;
}

.header-nav {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 50px 0;
}

.nav-button {
    padding: 10px 14px;
    letter-spacing: 2px;
}

.header-nav a{
    color: rgba(255,255,255,0.9);
    text-decoration: none;
}


.header-logo {
    width: 200px;
}

.header-title {
    color: rgba(255,255,255,1);
    font-size:72px;
    font-weight: 200;
    text-align: center;
    padding: 30px 0;
    
}

.header-description {
    color: rgba(255, 139, 56, 1);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

.spacer{
    height: 100px;
    padding: 15px;
}


.site {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*restaurant*/

.restaurant {
    height: 400px;
    padding: 50px 0;
    width: 900px;
    display: flex;
}

.restaurant-blurb {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.restaurant-space{
    width: 100px;
}

.restaurant-info {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.restaurant-info-title{
    text-transform: uppercase;
    font-size: 14px;
}

.restaurant-info p{
    margin:0;
    font-size: 14px;
}

/*gallery*/
.gallery {
    width:100%;
}

.slideshow-image{
    max-width:100%; 
}

/*menu*/

.menu {
    width: 1000px;
}

.menu-container{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu-header{
    color: rgba(255, 139, 56, 1);
    font-weight: 600;
    letter-spacing: 2px;
}

.menu-row {
    width: inherit;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-item{
    width: 300px;
    padding: 15px;
}

.menu-item-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-item-name {
    font-weight: 600;
}
.menu-item-desc {
    width:250px;   
}


/*drinks*/
.drinks {
    display: flex;
    background: linear-gradient(
            rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
            url("../images/menu_background.jpg") 0 -200px;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height: 1000px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}


.drinks-container{
    display: flex;
    flex-direction: row;
}

.drinks-header{
    color: rgba(255, 139, 56, 1);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.drinks-col {
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    padding 15px 0;
    justify-content: flex-start;
}

.drinks-item{
    width: 300px;
    padding: 15px 0;
    color: white;
}

.drinks-item-row {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.drinks-item-name {
    font-weight: 600;
}
.drinks-item-desc {
    width:250px;   
}


/*reservation*/




/*social*/